<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico"/>
    <link href="/assets/styles/main.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed.xml"/>

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"> </script>

    <title>
      {{ page.title }} | {{ site.title }}
    </title>
  </head>
  
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/feed.xml">Feed</a></li>
        </ul>
      </nav>

    </header>

